* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header h1 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1em 0;
}

.menu-content {
    text-align: center;
}

.menu-content li {
    display: inline-block;
    list-style: none;
    margin-right: 1.4em;
    padding: 0.5em 0;
}

.menu-content li a {
    text-decoration: none;
    color: black;
    background-color: #ffdbde;
    border: 2px #ffdbde solid;
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
    transition: 0.2s background;
}

.menu-content li a:hover {
    background-color: #fff;
}

main {
    margin: 2em 3em;
}

.conteudos-main {
    margin-top: 2em;
}

.conteudos-main p {
    margin-top: 0.8em;
    text-align: justify;
}

.quem-e-tonhao {
    display: flex;
    margin-top: 1em;
}

.quem-e-tonhao img {
    margin-right: 1em;
}

footer {
    padding: 0.5em 0;
    background-color: rgba(255, 219, 222, 0.3);
}

footer p {
    text-align: center;
    font-size: 0.95em;
}